git push -f git@github.com:tianon/bad-ideas.git
{{- range $i, $e := .Entries -}}
	{{- if $e.HasArchitecture arch -}}
		{{- /* force bashbrew to "fetch" the GitCommit so that it is fully resolved */ -}}
		{{- $from := $.DockerFrom $e -}}

		{{- range $e.Tags -}}
			{{- $commit := $e.ArchGitCommit arch -}}
			{{- if eq arch "amd64" -}}
				{{- " " -}}{{- $commit -}}:refs/tags/{{- $.RepoName -}}/{{- . -}}
			{{- end -}}
			{{- " " -}}{{- $commit -}}:refs/tags/{{- arch -}}/{{- $.RepoName -}}/{{- . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
