{{- range $e := .Entries -}}
	{{- range $arch := $e.Architectures -}}
		{{- /* force bashbrew to "fetch" the GitCommit so that it is fully resolved */ -}}
		{{- $froms := $.ArchDockerFroms $arch $e -}}

		{{- $commit := $e.ArchGitCommit $arch -}}

		git push --quiet --force git@github.com:docker-library/commit-warehouse.git
		{{- range $tag := $e.Tags -}}
			{{- if eq $arch "amd64" -}}
				{{- " " -}}{{- $commit -}}:refs/tags/{{- $.RepoName -}}/{{- $tag -}}
			{{- end -}}
			{{- " " -}}{{- $commit -}}:refs/tags/{{- $arch -}}/{{- $.RepoName -}}/{{- $tag -}}
		{{- end -}}
		{{- "\n" -}}
	{{- end -}}
{{- end -}}
