<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>DOCKER_IMAGE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>bonita</string>
              <string>bonita-subscription</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue>7.1.x</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BONITA_VERSION</name>
          <description></description>
          <defaultValue>7.1.0-SNAPSHOT</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CI_NAME</name>
          <description></description>
          <defaultValue>inno1</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:bonitasoft/docker.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/${BRANCH_NAME}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$JENKINS_HOME/userContent/docker-workspace</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

MINOR_VERSION=$(echo $BONITA_VERSION | cut -d. -f1-2)

if [ &quot;$DOCKER_IMAGE&quot; = &quot;bonita&quot; ]
then
  BUNDLE_FILENAME=&quot;BonitaBPMCommunity-${BONITA_VERSION}-Tomcat-7.0.55.zip&quot;
  ZIP_URL=&quot;http://${CI_NAME}.rd.lan/job/bos_web-distrib/lastSuccessfulBuild/artifact/bundle/tomcat/target/${BUNDLE_FILENAME}&quot;
elif [ &quot;$DOCKER_IMAGE&quot; = &quot;bonita-subscription&quot; ]
then
  BUNDLE_FILENAME=&quot;BonitaBPMSubscription-${BONITA_VERSION}-Tomcat-7.0.55.zip&quot;
  ZIP_URL=&quot;http://${CI_NAME}.rd.lan/job/sp_web-distrib/lastSuccessfulBuild/artifact/bundle/tomcat/target/${BUNDLE_FILENAME}&quot;
else
  echo &quot;Docker image &lt;${DOCKER_IMAGE}&gt; not supported.&quot;
  exit 1
fi

rm -rvf $DOCKER_IMAGE/$MINOR_VERSION/files/BonitaBPM*Tomcat*
wget &quot;${ZIP_URL}&quot; -O &quot;$DOCKER_IMAGE/$MINOR_VERSION/files/${BUNDLE_FILENAME}&quot;

./build.sh &quot;$DOCKER_IMAGE/$MINOR_VERSION&quot;

mkdir -p $JENKINS_HOME/userContent/$CI_NAME
mv -v $WORKSPACE/${DOCKER_IMAGE}_${BONITA_VERSION}.tar $JENKINS_HOME/userContent/$CI_NAME/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>