<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH_NAME</name>
          <description></description>
          <defaultValue>7.1.x</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BONITA_VERSION</name>
          <description></description>
          <defaultValue>7.1.0-SNAPSHOT</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CI_NAME</name>
          <description></description>
          <defaultValue>inno1</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:bonitasoft/docker.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>refs/heads/${BRANCH_NAME}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$JENKINS_HOME/userContent/docker-workspace</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

set -e

MINOR_VERSION=$(echo $BONITA_VERSION | cut -d. -f1-2)

PERF_TOOL_ARCHIVE_FILE=&quot;PerfLauncher-bonitaBPM6-community-server-${BONITA_VERSION}-1.0-SNAPSHOT-postgres.zip&quot;

ZIP_URL=&quot;http://${CI_NAME}.rd.lan/job/all_performance-build/client_server=-server,db_vendor=postgres,edition=v6,label=master/lastSuccessfulBuild/artifact/bonitaBPM6/bonitaBPM6-common/target/${PERF_TOOL_ARCHIVE_FILE}&quot;

rm -rvf $WORKSPACE/bonita-perf-tool/$MINOR_VERSION/bin/PerfLauncher*
wget &quot;${ZIP_URL}&quot; -O $WORKSPACE/bonita-perf-tool/$MINOR_VERSION/bin/${PERF_TOOL_ARCHIVE_FILE}

./build.sh &quot;bonita-perf-tool/$MINOR_VERSION&quot;

mkdir -p $JENKINS_HOME/userContent/$CI_NAME
mv -v $WORKSPACE/bonita-perf-tool_${BONITA_VERSION}.tar $JENKINS_HOME/userContent/$CI_NAME/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>